@charset "UTF-8";
/* ===========================================
 * General Styles
 * ======================================== */
html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* ===========================================
 * Header Styles
 * ======================================== */
.page-header {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2); /* 半透明の背景色 */
    padding: 10px;
}
.logo {
    width: 50px;
    height: auto;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 36px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: rgb(255, 255, 255);
}
.main-nav a:hover {
    color: #0bd;
}

/* ===========================================
 * Body Styles
 * ======================================== */
.home-content {
    text-align: center;
    margin-top: 10%;
    color: white;
}
.page-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: normal;
    transform: translateX(-30px);
}

/* ===========================================
 * Section Styles
 * ======================================== */
.content-section {
    max-width: 600px;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: space-around;
}
.item {
    padding: 0 40px; /* 左右のマージン */
    text-align: center; /* 中央寄せ */
    position: relative;
}
.item p {
    max-width: 200px;
}

/* 区切り線 */
.item::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -70px; /* 右側の位置調整 */
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 線の色 */
}
.item:last-child::after {
    display: none; /* 最後の要素には線を表示しない */
}

/* ===========================================
 * Text Styles
 * ======================================== */
.section-title {
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #fff;
}
.section-text {
    font-size: 1.3rem;
    line-height: 1.8;
    font-family: 'Noto Sans JP', sans-serif; /* 日本語フォント */
    color: #ffffff;
}

/* ===========================================
 * Background Video Styles
 * ======================================== */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* ビューポート幅 */
    height: 100vh; /* ビューポート高さ */
    object-fit: cover; /* アスペクト比維持 */
    z-index: -1; /* 動画を後ろに表示 */
    filter: brightness(50%); /* 動画の明るさ */
}

/* ===========================================
 * Gradient Background Styles
 * ======================================== */
.original-gradient {
    width: 100%;
    background-image: linear-gradient(270deg, rgba(57, 101, 150, 1), rgba(233, 240, 250, 1));
}
.original-gradient-story {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(270deg, rgb(211, 176, 59), rgb(255, 235, 170));
}
.additional-content {
    color: #ffffff;
    min-height: 100vh; /* 画面全体の高さ */
    margin-top: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.additional-content-2 {
    color: #ffffff;
    min-height: 100vh; /* 画面全体の高さ */
    display: flex;
    align-items: center;
    justify-content: center;
}
.additional-content-contact {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 上部に配置 */
    align-items: center; /* 水平方向に中央揃え */
    min-height: 100vh; /* 画面全体の高さ */
    margin-top: 60vh; /* 必要なら削除、もしくは調整 */
}

.additional-content-contact h2 {
    text-align: center;
    color: rgb(38, 90, 122);
    margin-bottom: 30px;
    margin-top: 80px; /* 上に少し余白を持たせる */
}

/* ===========================================
 * Animation Styles
 * ======================================== */
.hidden {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.visible {
    opacity: 1;
}
.extinction {
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
}
.extinction.on {
    opacity: 0;
}
.scroll_up {
    transition: 0.5s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}
.scroll_up.on {
    transform: translateY(0);
    opacity: 1.0;
}
.scroll_left {
    transition: 0.8s ease-in-out;
    transform: translateX(-30px);
    opacity: 0;
}
.scroll_left.on {
    transform: translateX(0);
    opacity: 1.0;
}
.scroll_right {
    transition: 0.8s ease-in-out;
    transform: translateX(30px);
    opacity: 0;
}
.scroll_right.on {
    transform: translateX(0);
    opacity: 1.0;
}

/* ===========================================
 * Button Styles
 * ======================================== */
.button a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 9999px;
    max-width: 250px;
    padding: 10px 25px;
    font-family: "Noto Sans Japanese";
    color: #fdffe6;
    line-height: 1.8;
    text-decoration: none;
    font-weight: 500;
    background: linear-gradient(270deg, #3bade3 0%, #5d78ff 25%, #59f2e0 51%, hsl(127, 88%, 77%) 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    transition: all 0.3s ease-out;
}
.button a:hover {
    color: #fff;
    background-position: 99% 50%;
    transform: scale(1.05);
    box-shadow: 0 15px 15px rgba(87, 111, 230, 0.4); /* ボタンの影 */
}
.button a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

/* ===========================================
 * Profile
 * ======================================== */
.section-profile {
    height: auto;
    padding: 80px 0 100px
}
.section-profile h1 {
    text-align: center;
    color: rgb(38, 90, 122);
    margin-bottom: 30px;
}
.section-profile__wrapper {
    display: flex;
    flex-flow: row-reverse;
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    gap: 80px
}
.section-profile__description {
    flex: 4;
}
.section-profile h2 {
    margin-bottom: 24px
}
.section-profile h3 {
    font-weight: 400;
    font-size: 1.2rem
}
.profile__image {
    flex: 2;
    margin: 0 auto
}
.section-profile__text-area {
    max-width: 880px;
    padding-top: 40px;
    text-align: left
}
.name {
    width: 100%;
    margin-bottom: 24px
}
.name img {
    width: 100%
}
.section-profile__text-area p {
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-size: 1.1rem
}



/* ===========================================
 * My Story
 * ======================================== */
.section-story {
    width: 100%;
    height: auto;
    padding: 50px 200px 30px;
    margin: 0 auto;
    background-color: #34c9ff;
}
.section-story h2 {
    margin-bottom: 10px;
    text-align: center;
}
.section-story h3 {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 30px;
    opacity: .8;
    text-align: center;
}
.scroll_lists {
    overflow: auto;
    scroll-snap-type: x;
    display: flex;
}

.scroll_lists li {
    scroll-snap-align: start;
    width: 340px;
    flex: none;
    list-style: none;
    padding: 0px 25px; /* 余白を半分にして高さを小さくする */
    text-align: left;
    background-color: #F8F6F0
}

.scroll_lists li:nth-child(odd) {
    background-color: #fff
}

.period {
    font-size: 2.0rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 4px
}

.story-summary {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: 2px
}

.period1-img,.period3-img,.period5-img {
    width: 100%;
    height: auto;
    margin: 0 auto 24px;
    background-color: #ffeec9;
    text-align: center;
    padding: 8px 0
}

.period2-img,.period4-img {
    width: 100%;
    height: auto;
    margin: 0 auto 24px;
    background-color: #ffe877;
    text-align: center;
    padding: 8px 0
}

.scroll_lists li img {
    width: 60%;
    object-position: center;
    display: inline
}

@media (max-width: 1100px) {
    .section-story {
        padding:60px 60px 80px
    }
}

@media (max-width: 500px) {
    .section-story {
        padding:60px 0 80px
    }

    .section-story h2 {
        font-size: 4rem;
        margin-bottom: 16px
    }

    .scroll_lists li {
        width: 85%;
        padding: 60px 24px
    }
}

/* messages */

.wrapperMessages {
    background-color: var(--base-color);
    padding: 20px 0;
}

.message {
    background-color: var(--semi-dark-color);
    width: fit-content;
    padding: 10px 20px;
    margin: .2rem auto;
    color: var(--base-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}



/* ===========================================
 * Work
 * ======================================== */
.additional-content-work {
    color: #ffffff;
    min-height: 200vh; /* 画面全体の高さ */
    margin-top: 60vh;
}
.additional-content-work h2 {
    text-align: center;
    color: rgb(38, 90, 122);
    padding-top: 50px;
}
a.btn7 {
    background: #6bb6ff;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
    color: #ffffff;
    display: inline-block;
    padding: 6px 30px 6px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
    font-weight: 600;
    letter-spacing: 0.04rem;
}
.no-touch a.btn7:hover {
    background: #00a2ad;
    box-shadow: 0px 8px 2px 0 rgba(0,0,0,0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}
.no-touch a.btn7:active, a.btn7:active {
    background: #008a93;
    box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
    transform: translate3d(0,1px,0);
    transition: all 0.025s 0s ease-out;
}
ul.cards7 {
    border: none;
    padding: 0;
    margin: 20px 200px 100px 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
li.card7 {
    display: inline-block;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 38%;
    z-index: 1;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
    padding: 0;
    cursor: pointer;
    margin-bottom: 25px;
}
li.card7 img {
    width: 100%;
}
li.card7 .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 57%;
    overflow: hidden;
}
li.card7 .card__image-holder img {
    transition: all 0.1s 0s ease-in;
}
li.card7:hover > .card__image-holder img {
    transform: scale(1.05);
}
li.card7 div.card-title {
    background: #ffffff;
    padding: 8px 18px 14px;
    position: relative;
    z-index: 0;
}
li.card7 div.card-title a.toggle-info {
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 8px;
    width: 32px;
    margin: 0 !important;
}
li.card7 div.card-title a.toggle-info span {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: all 0.15s 0s ease-out;
    width: 12px;
}
li.card7 div.card-title a.toggle-info span.left {
    right: 14px;
    transform: rotate(45deg);
}
li.card7 div.card-title a.toggle-info span.right {
    left: 14px;
    transform: rotate(-45deg);
}
li.card7 div.card-title p {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: -0.05em;
    margin: 6px 0 3px;
    padding: 0;
    line-height: 1.56;
    color: #555;
}
li.card7 div.card-title p.card_timecategory {
    display: flex;
    flex-flow: row;
    font-weight: 600;
    font-size: 0.85rem;
    justify-content: flex-start;
    letter-spacing: 0.02rem;
    color: #b5b5b5;
    position: relative;
}
li.card7 div.card-title p small {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.025em;
}
li.card7 div.card-description {
    padding: 0px 20px 20px;
    position: relative;
    font-size: 0.9rem;
    color: #313131;
}
li.card7 div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 15px;
    text-align: center;
}
li.card7 div.card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
}
li.card7 div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}
li.card7 div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}
ul.cards7.showing li.card7 {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
}
.no-touch ul.cards7.showing li.card7:hover {
    opacity: 0.94;
    transform: scale(0.92);
}
li.card7.show {
    opacity: 1 !important;
    transform: scale(1) !important;
}
li.card7.show div.card-title a.toggle-info {
    background: #ff6666 !important;
}
li.card7.show div.card-title a.toggle-info span {
    top: 15px;
}
li.card7.show div.card-title a.toggle-info span.left {
    right: 10px;
}
li.card7.show div.card-title a.toggle-info span.right {
    left: 10px;
}
li.card7.show div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
}
li.card7.show div.flap1 {
    transition: all 0.3s 0s ease-out;
}
li.card7.show div.flap2 {
    transition: all 0.3s 0.2s ease-out;
}
.card-actions a {
    padding-right: 45px;
    padding-left: 45px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%), 0 2px 3px -2px rgb(0 0 0 / 15%);
}
.card-actions a.btn7:hover {
    box-shadow: 0 13px 20px -3px rgb(0 0 0 / 24%);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transform: translateY(-3px);
}
.card-actions a.btn7:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
ul.cards7 {
    flex-direction: column;
}
li.card7 {
    width: 100%;
}
}