@charset "UTF-8";

html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 50px;
    height: auto;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color: #0bd;
}


/* HOME */
.home-content {
    text-align: center;
    margin-top: 10%;
}
.page-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: normal;
}
/* 背景動画 */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* ビューポート全体の幅 */
    height: 100vh; /* ビューポート全体の高さ */
    object-fit: cover; /* 動画のアスペクト比を維持しつつ、画面全体を埋めるように拡大する。これにより、動画が縦横比を壊さずに表示される。*/
    z-index: -1; /*  動画が他のすべての要素（テキストやナビゲーション）よりも後ろに表示されるように設定している。 */
}