{% extends "pages/base.html" %}
{% load static %}

{% block title %}TOPページ{% endblock title %}

{% block content %}
<!-- jumbotron→横幅全体に広がる大きなセクションを作る -->
<section class="jumbotron jumbotron-fluid mb-0">
    <!--背景用の動画ファイル-->
    <video id="bg-video" autoplay loop muted>
        <source src="{% static 'pages/movies/background.mp4' %}" type="video/mp4">
            <!-- 動画ファイルがロードできなかった場合に表示するメッセージ -->
            Your browser does not support the video tag.
    </video>
    <div class="home-content wrapper scroll_left">
        <h2 class="page-title extinction">ようこそ、私のホームページへ</h2>
        <h2 class="page-title appearance hidden">Step into My Site</h2>
    </div>
</section>

<section class="additional-content original-gradient">
    <div class="content-section scroll_up">
        <h2 class="section-title">Helllo! There!</h2>
        <br>
        <p class="section-text">
            このWebサイトは、私、Taishiのポートフォリオサイトです！<br>
            正直、「自分、地元では"路上の伝説"って呼ばれてました！」
            みたいなおもろそうな人生送ってません。。平凡of平凡の人生歩んでるので、面白味のかけらもないWebサイトです。<br>
            ただ、Webサイトを作ってみたい！という欲望だけで作りました。
            なので、謎の動画やアニメーションがふんだんに利用されていますが、ご了承ください。
        </p>    
    </div>               
</section>

<section class="additional-content-2 original-gradient">
    <div class = "container scroll_up">
        <div class = "item">
            <div class="button">
                <a href="{% url 'intro' %}">自己紹介</a>
            </div>
            <br>
            <p>自己紹介ページに飛びます。私の簡単な生い立ちや、現在やっていること、趣味や特技など適当に書いています。
        </div>
        <div class = "item">
            <div class="button">
                <a href="{% url 'show_company' 0 %}">制作物</a>
            </div>
            <br>
            <p>今までの活動履歴が見ることができます。ハッカソンに参加した際の開発物や、自由気ままに作ったてきとうな作品まで、幅広く載せています。
        </div>
        <div class = "item">
            <div class="button">
                <a href="{% url 'contact' %}">問い合わせ</a>
            </div>
            <br>
            <p>私に興味を持った方がいたら、ぜひご連絡お待ちしております。SNSのリンクなども張っております。
        </div>
    </div>
</section>
{% endblock content %}