{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="Taishiのポートフォリオサイトです。">
        <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
    </head>

    <body>
        <!-- ヘッダー -->
        <header class="page-header wrapper">
            <h1><a href="{% url goto %}"><img class="logo" src="{% static 'pages/images/logo.png' %}" alt="logoの画像"></a></h1>
            <!-- ナビ -->
            <nav>
                <ul class="main-nav">
                    <li><a href="#about">自己紹介</a></li>
                    <li><a href="#works">制作物</a></li>
                    <li><a href="#contact">問い合わせ</a></li>
                </ul>
            </nav>
        </header>

        <div class="home-content wrapper">
            <h2 class="page-title">ようこそ、私のホームページへ</h2>
        </div>
    </body>

</html>
