{% extends "pages/base.html" %}
{% load static %}

{% block title %}制作物{% endblock title %}

{% block content %}
<!-- jumbotron→横幅全体に広がる大きなセクションを作る -->
<section class="jumbotron jumbotron-fluid mb-0">
    <!--背景用の動画ファイル-->
    <video id="bg-video" autoplay loop muted>
        <source src="{% static 'pages/movies/work.mp4' %}" type="video/mp4">
            <!-- 動画ファイルがロードできなかった場合に表示するメッセージ -->
            Your browser does not support the video tag.
    </video>
    <div class="home-content wrapper scroll_left">
        <h2 class="page-title extinction">制作物</h2>
        <h2 class="page-title appearance hidden">Work</h2>
    </div>
</section>

<div class="additional-content-work  original-gradient">
    <h2 class="scroll_up">Work</h2>
    <ul class="cards7 scroll_left">
        <!-- card -->
        <li class="card7">
            <div class="card__image-holder"> <img class="card__image" src="{% static 'pages/images/com_match.png' %}" alt="宮崎企業マッチング"> </div>
            <div class="card-title"> <a href="javascript:void(0)" class="toggle-info btn7">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <p class="card_timecategory"><time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2024-9-25">2024年9月25日</time></p>
            <p class="card_htitle">【ハッカソン】宮崎企業マッチング</p>
            </div>
            <div class="card-flap flap1">
            <div class="card-description">
                マッチングアプリのように表示される宮崎の企業に対し、
                Good!とBad!を選択し、最終的にユーザーにおすすめする企業を提示する、WEBアプリです。<br>
                <br>
                宮崎の就職率を上げるためには？をテーマを軸にハッカソンにてチーム開発したWebアプリです。
            </div>
            <div class="card-flap flap2">
                <div class="card-actions"> <a href="{% url 'show_company' index=0 %}" class="btn7">のぞきに行く</a> </div>
            </div>
            </div>
        </li>
        <!-- card -->
        <!-- card -->
        <li class="card7">
            <div class="card__image-holder"> <img class="card__image" src="{% static 'pages/images/development.png' %}" alt="開発中"> </div>
            <div class="card-title"> <a href="#" class="toggle-info btn7">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <p class="card_timecategory"><time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2021-10-16">Coming soon</time></p>
            <p class="card_htitle">スクレイピング</p>
            </div>
            <div class="card-flap flap1">
            <div class="card-description">開発中です！</div>
            <div class="card-flap flap2">
                <div class="card-actions"> <a href="#" class="btn7">のぞきに行く</a> </div>
            </div>
            </div>
        </li>
        <!-- card -->
        <!-- card -->
        <li class="card7">
            <div class="card__image-holder"> <img class="card__image" src="{% static 'pages/images/development.png' %}" alt="開発中"> </div>
            <div class="card-title"> <a href="#" class="toggle-info btn7">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <p class="card_timecategory"><time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2021-10-16">Coming soon</time></p>
            <p class="card_htitle">顔認証ログインシステム</p>
            </div>
            <div class="card-flap flap1">
            <div class="card-description">開発中です！</div>
            <div class="card-flap flap2">
                <div class="card-actions"> <a href="#" class="btn7">のぞきに行く</a> </div>
            </div>
            </div>
        </li>
        <!-- card -->
        <!-- card -->
        <li class="card7">
            <div class="card__image-holder"> <img class="card__image" src="{% static 'pages/images/development.png' %}" alt="開発中"> </div>
            <div class="card-title"> <a href="#" class="toggle-info btn7">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <p class="card_timecategory"><time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2021-10-16">Coming soon</time></p>
            <p class="card_htitle">ごみ出し日をLINEで通知システム</p>
            </div>
            <div class="card-flap flap1">
            <div class="card-description">開発中です！</div>
            <div class="card-flap flap2">
                <div class="card-actions"> <a href="#" class="btn7">のぞきに行く</a> </div>
            </div>
            </div>
        </li>
        <!-- card -->
    </ul>
</div>




{% endblock content %}